{% extends 'Lyrics/Base.html' %}

{% block Content %}


<div class="row" style="padding: 30px;">
    <div class="col-md-6 col-xl-6">
        {% if actor.Upload %}
            <img src="{{actor.Upload.url}}" alt="{{actor.Movie}}" class="img-fluid"  style="width: 550px;height: 300px;border-radius: 30px;">
            {% endif %}
    </div>
    <div class="col-md-6 col-xl-4">
        <br>
        <br>
        <p>Name: <strong class="text-warning" style="font-size: 20px;">{{actor.FullName}}</strong></p>
        <p class="card-text"><strong>Gender:</strong> {{actor.Gender}}</p>
        <p class="card-text"><strong>Date of Birth: </strong>{{actor.DoB}}</p>
        <p class="card-text"><strong>Date of Death: </strong>{{actor.DOD}}</p>
        <p class="card-text"><strong>Birth Place: </strong>{{actor.BirthPlace}}</p>
    </div>

    <div class="row" style="padding: 10px;">
        <div class="col-md-12">
            <br>
            <h2 class="text-warning">Awards</h2>
            <p class="card-text">{{actor.Awards|linebreaks}}</p>
        </div>
    </div>
</div>




{% endblock %}