{% extends 'Lyrics/Base.html' %}
{% load embed_video_tags %}

{% block Content %}

<div class="row" style="padding: 30px;">
    <div class="col-md-6 col-xl-6">
        {% if lp.Upload %}
        <img src="{{lp.Upload.url}}" alt="{{lp.Movie}}" class="img-fluid"  style="width: 550px;height: 300px;border-radius: 30px;">
        {% endif %}
    </div>
    <div class="col-md-6 col-xl-4">
        <br>
        <br>
        <p>Title: <b class="text-warning">{{lp.SongName}}</b></p>
        <p><strong>Movie: </strong><a href="{% url 'movie_details' lp.Movie.id %}">{{lp.Movie}}</a></p>
        <p><strong>Singer: </strong><a href="{% url 'singer_bio' lp.Singer.id %}">{{lp.Singer}}</a></p>
        <p><strong>MovieDirector: </strong><a href="{% url 'movieDir_bio' lp.MovieDirector.id %}">{{lp.MovieDirector}}</a></p>
        <p><strong>MusicDirector: </strong><a href="{% url 'musicDir_bio' lp.MusicDirector.id %}">{{lp.MusicDirector}}</a></p>
    </div>
    <br>
    <div class="row" style="padding: 30px;">
        <div class="col-md-16">
            <h2 class="text-warning">Lyrics</h2>
            <p>{{lp.Lyrics|linebreaks}}</p>
        </div>
    </div>
    <br>
    <div class="row" style="padding: 30px;">
            <p class="text-warning"><strong>{{lp.SongName}} Lyrical Video Song From {{lp.Movie}}: </strong></p>
            {% video lp.YouTube.youtube '1050x560' %}
    </div>
</div>



{% endblock %}