{% extends 'Lyrics/Base.html' %}
{% load embed_video_tags %}

{% block Content %}


<div class="row" style="padding: 30px;">
    <div class="col-md-6 col-xl-7">
        {% if actor.Upload %}
            <img src="{{actor.Upload.url}}" alt="{{actor.Movie}}" class="mx-auto d-block" width="600" height="350">
            {% endif %}
    </div>
    <div class="col-md-6 col-xl-5">
        <br>
        <p>Name: <strong class="text-warning" style="font-size: 20px;">{{actor.FullName}}</strong></p>
        <p class="card-text"><strong>Gender:</strong> {{actor.Gender}}</p>
        <p class="card-text"><strong>Date of Birth: </strong>{{actor.DoB}}</p>
        <p class="card-text"><strong>Date of Death: </strong>{{actor.DOD}}</p>
        <p class="card-text"><strong>Birth Place: </strong>{{actor.BirthPlace}}</p>
    </div>

    <div class="row" style="padding: 40px;">
        <div class="col-md-12">
            <h2 class="text-warning">Awards</h2>
            <p class="card-text">{{actor.Awards|linebreaks}}</p>
        </div>
    </div>
</div>


<div class="py-4">
    <div class="container">

            {% if mov_details.Upload %}
            <img src="{{mov_details.Upload.url}}" alt="{{mov_details.Movie}}" class="mx-auto d-block" width="350" height="236">
            {% endif %}

            <p class="card-title">MovieName: <strong>{{mov_details.MovieName}}</strong></p>
            <p class="card-text"><strong>Actor:</strong> {{mov_details.Actor}}</p>
            <p class="card-text"><strong>ReleaseDate: </strong>{{mov_details.ReleaseDate}}</p>
            <p class="card-text"><strong>MovieDirector: </strong>{{mov_details.MovieDirector}}</p>
            <p class="card-text"><strong>MusicDirector: </strong>{{mov_details.MusicDirector}}</p>
            <p class="card-text"><strong>Studio: </strong>{{mov_details.Studio}}</p>
            <p class="card-text"><strong>Producer: </strong>{{mov_details.Producer}}</p>
            <p class="card-text"><strong>Wood: </strong>{{mov_details.Wood}}</p>
            <p class="card-text"><strong>Language: </strong>{{mov_details.Language}}</p>
            <p class="card-text"><strong>Genre: </strong>{{mov_details.Genre}}</p>
            <p class="card-text"><strong>RunTimeMinutes: </strong>{{mov_details.RunTimeMinutes}}</p>
            <p class="card-text"><strong>Certificate: </strong>{{mov_details.Certificate}}</p>
            <p class="card-text"><strong>Review: </strong>{{mov_details.Review}}</p>
            <p class="card-text"><strong>YouTube: </strong>{{mov_details.Studio}}</p>
            <br>
            <p><strong>Trailer From {{mov_details.MovieName}}: </strong></p>
            {% video mov_details.YouTube.youtube '1070x560' %}


    </div>
</div>

{% endblock %}