{% extends 'Lyrics/Base.html' %}

{% block Content %}

<div class="row" style="padding: 30px;">
        <div class="col-md-6 col-xl-6">
                {% if musicDir.Upload %}
                <img src="{{musicDir.Upload.url}}" alt="{{musicDir.Movie}}" class="img-fluid"  style="width: 550px;height: 300px;border-radius: 30px;">
                {% endif %}
        </div>

        <div class="col-md-6 col-xl-4">
                <br>
                <br>
                <p>Name: <strong class="text-warning" style="font-size: 20px;">{{musicDir.FullName}}</strong></p>
                <p class="card-text"><strong>Gender:</strong> {{musicDir.Gender}}</p>
                <p class="card-text"><strong>Date of Birth: </strong>{{musicDir.DoB}}</p>
                <p class="card-text"><strong>Date of Death: </strong>{{musicDir.DOD}}</p>
                <p class="card-text"><strong>Birth Place: </strong>{{musicDir.BirthPlace}}</p>
        </div>


        <div class="row" style="padding: 10px;">
                <div class="col-md-12">
                        <br>
                        <h2 class="text-warning">Awards</h2>
                        <p class="card-text">{{musicDir.Awards|linebreaks}}</p>
                </div>
        </div>
</div>

{% endblock %}