{% extends 'Lyrics/Base.html' %}

{% block Content %}

<div class="row" style="padding: 30px;">
        <div class="col-md-6 col-xl-7">
                {% if musicDir.Upload %}
                <img src="{{musicDir.Upload.url}}" alt="{{musicDir.Movie}}" class="mx-auto d-block" width="600" height="350">
                {% endif %}
        </div>

        <div class="col-md-6 col-xl-5">
                <p>Name: <strong class="text-warning" style="font-size: 20px;">{{musicDir.FullName}}</strong></p>
                <p class="card-text"><strong>Gender:</strong> {{musicDir.Gender}}</p>
                <p class="card-text"><strong>Date of Birth: </strong>{{musicDir.DoB}}</p>
                <p class="card-text"><strong>Date of Death: </strong>{{musicDir.DOD}}</p>
                <p class="card-text"><strong>Birth Place: </strong>{{musicDir.BirthPlace}}</p>
        </div>

        <div class="row" style="padding: 40px;">
                <div class="col-md-12">
                        <h2 class="text-warning">Awards</h2>
                        <p class="card-text">{{musicDir.Awards|linebreaks}}</p>
                </div>
        </div>
</div>

{% endblock %}