{% extends 'Lyrics/Base.html' %}

{% block Content %}

<center>
    {% if searched %}
        <h1>You Searched For {{searched}}</h1>
        <br>

<!--    Song Name Search     -->
    {% if song_search %}
    <H3>Songs</H3>
    <div class="py-4">
        <div class="container">
            <div class="row hidden-md-up">
            {% for ls in song_search %}
            {% include 'Lyrics/card_songs_list.html' %}
            {% endfor %}
            </div>
        </div>
    </div><hr>
    {% else %}
        <p>No Songs are Found</p>
    {% endif %}


<!--    Movie Name Search      -->
    {% if movie_search %}
    <H3>Movies</H3>
    <div class="py-4">
        <div class="container">
            <div class="row hidden-md-up">
            {% for ls in movie_search %}
            {% include 'Lyrics/card_movies_list.html' %}
            {% endfor %}
            </div>
        </div>
    </div><hr>
    {% else %}
        <p>No Movies are Found</p>
    {% endif %}



<!--   Actor Search     -->
    {% if actor_search %}
    <H3>Actors</H3>
    <div class="py-4">
        <div class="container">
            <div class="row hidden-md-up">
            {% for as in actor_search %}
                <div class="card-group col-md-2" style="padding: 2px;">
                    <div class="card" style="margin: 4px;border-radius: 15px;background: rgb(46,79,71);">
                        {% if as.Upload %}
                        <img src="{{as.Upload.url}}" alt="{{as.FirstName}}" style="height: 175px;border-top-left-radius: 15px;border-top-right-radius: 15px;">
                        {% endif %}
                        <div class="card-body" style="width: 200;background:rgba(32,201,151,0.7);border-bottom-right-radius: 15px;border-bottom-left-radius: 15px;">
                            <a href="{% url 'actor_bio' as.id %}" class="text-warning">
                                <h5 class="card-title">{{as.FirstName}} Bio</h5>
                            </a>
                            <a href="{% url 'actors_songs' as.id %}">
                                <h5 class="card-title btn btn-outline-dark">Songs</h5>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div> <hr>
    {% else %}
        <p>No Actors are Found</p>
    {% endif %}



<!--    Singer Search      -->
    {% if singer_search %}
    <H3>Singers</H3>
    <div class="py-4">
        <div class="container">
            <div class="row hidden-md-up">
            {% for s in singer_search %}
                <div class="card-group col-md-2" style="padding: 2px;">
                    <div class="card" style="margin: 4px;border-radius: 15px;background: rgb(46,79,71);">
                        {% if s.Upload %}
                        <img src="{{s.Upload.url}}" alt="{{s.FirstName}}" style="height: 175px;border-top-left-radius: 15px;border-top-right-radius: 15px;">
                        {% endif %}
                        <div class="card-body" style="width: 200;background:rgba(32,201,151,0.7);border-bottom-right-radius: 15px;border-bottom-left-radius: 15px;">
                            <a href="{% url 'singer_bio' s.id %}" class="text-warning">
                                <h5 class="card-title">{{s.FirstName}} Bio</h5>
                            </a>
                            <a href="{% url 'singerSongs' s.id %}">
                                <h5 class="card-title btn btn-outline-dark">Songs</h5>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <hr>
    {% else %}
        <p>No Singers are Found</p>
    {% endif %}



<!--Music Director Name Search      -->
    {% if musicDir_search %}
    <H3>Music Directors</H3>
    <div class="py-4">
        <div class="container">
            <div class="row hidden-md-up">
            {% for music_s in musicDir_search %}
                <div class="card-group col-md-2" style="padding: 2px;">
                    <div class="card" style="margin: 4px;border-radius: 15px;background: rgb(46,79,71);">
                        {% if music_s.Upload %}
                        <img src="{{music_s.Upload.url}}" alt="{{music_s.FirstName}}" style="height: 175px;border-top-left-radius: 15px;border-top-right-radius: 15px;">
                        {% endif %}
                        <div class="card-body" style="width: 200;background:rgba(32,201,151,0.7);border-bottom-right-radius: 15px;border-bottom-left-radius: 15px;">
                            <a href="{% url 'musicDir_bio' music_s.id %}" class="text-warning">
                                <h5 class="card-title">{{music_s.FirstName}}</h5>
                            </a>
                            <a href="{% url 'musicDir_mov' music_s.id %}">
                                <h5 class="card-title btn btn-outline-dark">Songs</h5>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <hr>
    {% else %}
        <p>No Music Directors are Found</p>
    {% endif %}


<!--Movie Director Name Search      -->
    {% if movieDir_search %}
    <H3>Movie Directors</H3>
    <div class="py-4">
        <div class="container">
            <div class="row hidden-md-up">
            {% for mod in movieDir_search %}
                <div class="card-group col-md-2" style="padding: 2px;">
                    <div class="card" style="margin: 4px;border-radius: 15px;background: rgb(46,79,71);">
                        {% if mod.Upload %}
                        <img src="{{mod.Upload.url}}" alt="{{mod.FirstName}}" style="height: 175px;border-top-left-radius: 15px;border-top-right-radius: 15px;">
                        {% endif %}
                        <div class="card-body" style="width: 200;background:rgba(32,201,151,0.7);border-bottom-right-radius: 15px;border-bottom-left-radius: 15px;">
                            <a href="{% url 'movieDir_bio' mod.id %}" class="text-warning">
                                <h5 class="card-title">{{mod.FirstName}} Bio</h5>
                            </a>
                            <a href="{% url 'movieDir_mov' mod.id %}">
                                <h5 class="card-title btn btn-outline-dark">Songs</h5>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div><hr>
    {% else %}
        <p>No Movie Directors are Found</p>
    {% endif %}

    <!--    Language Search       -->
    {% if language_search %}
    <H3>Languages</H3>
    <div class="py-4">
        <div class="container">
            <div class="row hidden-md-up">
            {% for lang in language_search %}
                <div class="card-group col-md-2" style="padding: 2px;">
                    <div class="card" style="margin: 4px;border-radius: 15px;background: rgb(46,79,71);">
                        {% if lang.Upload %}
                        <img src="{{lang.Upload.url}}" alt="{{lang.Language}}" style="height: 175px;border-top-left-radius: 15px;border-top-right-radius: 15px;">
                        {% endif %}
                        <div class="card-body" style="width: 200;background:rgba(32,201,151,0.7);border-bottom-right-radius: 15px;border-bottom-left-radius: 15px;">
                            <a href="{% url 'lang_songs' lang.id %}" class="text-warning">
                                <h5 class="card-title">{{lang.Language}}</h5>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
        <p>No Languages are Found</p>
    {% endif %}


    {% else %}
        <h1>Not Found...</h1>

    {% endif %}

</center>

{% endblock %}